{% extends 'base.html' %}

{% block content %}
<h1>Welcome to product page</h1>
<div class="row">
{% for product in products %}
  <div class="col-md-4">
    <div class="card" style="width:18rem;">
      <img src="{{product.image_url}}" alt="products">
      <div class="card-body text-center">
        <img src="#" alt="" class="card-img-top">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">{{ product.price }}</p>
        <a href="#" class="btn btn-warning">Add to cart</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>  
{% endblock %}