{% extends 'base.html' %}
{% block content %}
    <h3>{{ question.question_text }}</h3>
    {% for choice in question.choice_set.all %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="form-check">
            <input class="form-check-input" type="radio" name="choice" value="{{ choice.id }}">
            <label class="form-check-label" for="choice">
                <input type="radio" name="choice" value="{{ choice.id }}"/>
                {{ choice.choice_text }}<br>
            </label>
          </div>        
    {% endfor %} <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-info">Vote</button>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'detail' question.id %}">Vote again?</a>
{% endblock %}

