{% extends 'base.html' %}
{% block content %}

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mx-auto">
          <div class="site-heading">
            <h3 class="site-heading my-4 mt-3 text-black">Welcome to My Poll App</h3>
            <p class="text-dark">This is my first django poll project</p>
          </div>
        </div>
      </div>
    </div>
  </header><br><br><br>
  
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}