{% extends 'base.html' %}

{% block body %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mx-auto">
        <div class="site-heading">
          <h3 class="site-heading my-4 mt-3 text-black">Welcome to My Blog</h3>
          <p class="text-dark">Read my latest articles</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
        <div class="card mb-4">
          <div class="card-body">
            <label for="{{ post.id }}">
              <a href="{% url 'post_detail' post.slug %}" class="text-white text-decoration-none">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                <img src="{{ post.image_url }}" height="400" width="700">
                <p class="card-text">{{ post.content|slice:":700" }}</p><br><br>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
              </a>
            </label>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}