{% extends "base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top">
            <div class="card-body">
                <h2 class="card-title">{% block title %} {{ object.title }} {% endblock title %}</h2>
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p><br>
                <img src="{{ post.image_url }}" height="400" width="700"><br><br>
                <p class="card_text">{{ object.content | safe }}</p>
            </div>
        </div>
        {% block sidebar %} 
        {% include 'sidebar.html' %} 
        {% endblock sidebar %}
    </div>
</div>

{% endblock %}